body {
    background: white;
    text-align: center;
}

.wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

img {
    width: 200px;
    transform: translate(-200px, 200px) rotateX(94deg);
}